<div class="d-flex flex-column justify-content-center col-sm-9 col-md-10 main">
  <div class="row px-5 py-2 center">
    <h1>Update your profile</h1>
  </div>
  <div class="row px-5 py-2 center">
    <%= render "shared/error_messages" %>
    <div class="col-md-12">
      <%= render "layouts/contactfields", user: @user %>
    </div>
  </div>

</div>
