<%if @user %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="col-md-12">
      <div class="alert alert-danger" role="alert">
        The form contains <%= pluralize(@user.errors.count, "error") %>.
      </div>
      <ul>
        <% @user.errors.each do |error| %>
        <li>* <%= error.attribute %> - <%= error.message %> </li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>