    <ul>
      <li>
        ID: <%= product.id %>
      </li>
      <li>
        Price: <%= product.price %>
      </li>
      <li>
        Category: <%= product.category.name %>
      </li>
    </ul>
