<p>
  <% if product.image.attached? %>
    <%= image_tag url_for(product.image.variant(resize_to_limit: [nil,
                                                                     100]).processed) %>
  <% end %>
  ID: <%= product.id %><br>
  Price: <%= product.price %><br>
  Category: <%= product.category.name %>
</p>
